@import '_variables.scss';

.contact_card {
  overflow: hidden;
  height: 60vh;
  width: 100%;
  // background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  .contact_info {
    overflow: hidden;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .contact_sub_title {
      @extend %reset-padding-margin;
      color: $color-less-white;
      font-family: 'Roboto Mono', monospace;
      font-size: 1rem;
      &::before {
        content: '>>';
        padding-right: 0.4rem;
        color: $color-less-white;
      }
    }

    .contat_title {
      font-size: clamp(35px, 3vw, 45px);
      color: $color-white;
    }

    .contact_message {
      color: $color-white-sub;
      margin-bottom: 3rem;
      line-height: 1.4rem;
    }

    .contact_btn {
      @extend %reset-padding-margin;
      button {
        height: 3.5rem;
        width: 9rem;
        font-size: 1rem;
      }
    }
  }
}
