@import '_variables.scss';

.experience_card {
  height: 100vh;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: auto auto;
  padding: 8rem 1rem;

  .experience_info {
    grid-column: 1 / span 2;
    padding: 0 0.5rem;
  }

  .experences {
    display: grid;
    grid-row: 2fr 8fr;

    .timeline {
      width: 88%;
      display: flex;
      position: relative;
      margin-top: 2rem;
      .timeline_line {
        position: relative;
        z-index: 1;
        margin-top: 12px;
        position: absolute;
        border-bottom: 1px solid $color-less-white;
        width: 90%;
      }

      .timeline_btn {
        margin-left: 2rem;
        position: relative;
        z-index: 2;
        height: 1.4rem;

        &:nth-of-type(2) {
          margin-left: 8rem;
        }
      }
    }

    .timeline_info {
      display: flex;
      flex-direction: column;

      .timeline_heading {
        @extend %reset-padding-margin;

        display: flex;
        color: $color-less-white;
        font-size: clamp(17px, 4vw, 2rem);

        h4 {
          @extend %reset-padding-margin;
          margin: 4.2rem 0 0.5rem 1rem;
        }

        h4:first-of-type {
          color: $color-white;
          margin-right: 0;
        }

        h4:nth-of-type(2) {
          margin-left: 0.5rem;
        }
      }

      .timeline_date {
        @extend %reset-padding-margin;
        margin-left: 1rem;
        font-family: 'Roboto Mono', monospace;
        font-size: 0.85rem;

        color: $color-white;
      }

      ul {
        margin-top: 2.5rem;
        color: $color-white-sub;
        list-style: none;
        @extend %reset-padding-margin;
        width: 80%;
        li {
          font-size: 0.94rem;
          line-height: 1.5rem;
          position: relative;
          padding-left: 3rem;
          @extend %reset-padding-margin;
          &::before {
            content: url('/arrow.svg');
            position: absolute;
            left: 2rem;
          }
        }
      }
    }
  }
}
