@import '_variables.scss';

.links_container {
  z-index: 2;
  height: 20rem;
  background-color: $color-darkest;
  visibility: hidden;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 3rem;
  // border: 1px solid red;
  @extend %reset-padding-margin;

  .links_list {
    @extend %reset-padding-margin;
    list-style: none;
  }

  .links_list li {
    margin: 1rem 0;
  }

  .links_horizontal_line {
    border-left: 1px solid #fcd9b7c2;
    height: 6rem;
  }

  @media (min-width: 50rem) {
    & {
      left: 1rem;
    }
  }

  @media (min-width: 70rem) {
    & {
      left: 2rem;
    }
  }
}

.github_link svg {
  @extend %reset-padding-margin;
  height: 1.1rem;
}
