@import '_variables.scss';

.main {
  margin-top: 3rem;
  height: 100%;
  display: grid;

  // overflow: hidden;
}

.content {
  display: grid;
  grid-template-rows: minmax(calc(100vh - 3rem), auto) minmax(100vh, auto);
}
