@import '_variables.scss';

.mobile_nav {
  background-color: $color-darkest;
  visibility: hidden;
  @extend %reset-position;
  position: fixed;
  z-index: 20;
  height: 4rem;
  width: 100vw;

  .mobile_nav_checkbox {
    @extend %reset-position;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    width: 3.2rem;
    height: 3.2rem;
    opacity: 0;
    z-index: 13;

    &:checked + .mobile_nav_humberger > div {
      transform: rotate(135deg);

      &:before,
      &::after {
        top: 0;
        transform: rotate(90deg);
      }
    }

    &:checked:hover + .mobile_nav_humberger > div {
      transform: rotate(225deg);
    }

    &:checked ~ .mobile_nav_link_container {
      visibility: visible;

      & > div > div {
        transform: translateX(0);
      }
    }
  }

  .mobile_nav_humberger {
    @extend %reset-position;
    position: absolute;
    z-index: 12;
    width: 3.8rem;
    height: 3.8rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      position: relative;
      width: 100%;
      height: 2px;
      background-color: $color-less-white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;

      &::before,
      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
      }

      &::after {
        top: 10px;
      }
    }
  }

  .mobile_nav_link_container {
    position: fixed;
    @extend %reset-position;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 0.2s ease;
    z-index: 10;

    & > div {
      background: #10295f44;

      width: 200vw;
      height: 200vh;
      & > div {
        background: $color-darker;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 200vh;
        transform: translateX(-100%);
        transition: all 0.2s ease;
        flex-direction: column;

        ul {
          color: $color-white;
          @extend %reset-padding-margin;
          list-style: none;
          overflow: hidden;
          display: flex;
          flex-direction: column;

          li {
            font-family: 'Roboto Mono', monospace;
            font-size: 1rem;
            margin: 1.2rem 0;
            &::before {
              content: '>>';
              padding-right: 0.4rem;
              font-size: 0.9rem;
              margin-top: 0;
              color: $color-less-white;
            }

            &:hover,
            &:focus,
            &:active {
              cursor: pointer;
              text-shadow: 1px 1px 0.5px rgba(80, 80, 83, 0.63);
            }
          }
        }
      }
    }
  }

  .logo_container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    justify-content: flex-end;
    padding-right: 1rem;
    padding-top: 1rem;

    .mobilenav_btn_resume {
      height: 1.7rem;
      margin-top: 2px;
    }

    a {
      height: 2rem;
    }
  }

  svg {
    height: 2rem;
    margin-left: 1rem;
    .paths {
      stroke: $color-white;
      fill: $color-less-white;
      white-space: pre;
    }
  }
}
