@import '_variables.scss';

.projects_cotainer {
  height: auto;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  .projects_info {
    width: 80%;
  }

  .project_list_cont {
    @extend %reset-padding-margin;
    max-width: 36rem;
    .project_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @extend %reset-padding-margin;
      position: relative;
      list-style: none;

      li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 6rem;
        @extend %reset-padding-margin;
      }
    }
  }

  .project_card {
    position: relative;
    @extend %reset-padding-margin;
    transition: all 0.3s ease;
    height: 70vw;
    width: 90%;
    max-width: 26rem;
    border: 1px solid $color-less-white;

    border-radius: 0.5rem;
    transition: all 0.3s ease;
    justify-content: center;

    .project_content {
      transition: inherit;
      @extend %reset-padding-margin;
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      // display: grid;

      // grid-template-rows: 1fr 1fr 4fr 1fr 1fr;

      padding: 0 1rem;
      padding-top: 2rem;
      transform: scale(0.2);
      .project_type {
        @extend %reset-padding-margin;
        color: $color-less-white;
        font-family: 'Roboto Mono', monospace;
        font-size: clamp(14px, 2vw, 14px);
      }
      .project_title {
        @extend %reset-padding-margin;

        color: $color-white;
        font-size: clamp(18px, 3vw, 18px);
      }
      .project_decription {
        color: $color-white-sub;
        font-size: 0.9rem;

        // calc(12vh + 10%);
      }

      .tech_list {
        align-self: center;
        color: $color-white;
        font-family: 'Roboto Mono', monospace;
        font-size: 0.8rem;
      }

      .project_links_list {
        align-self: center;
        display: flex;
        width: 80%;
        align-items: center;
        @extend %reset-padding-margin;
        .project_link {
          overflow: hidden;
          height: 2rem;

          @extend %reset-padding-margin;
          svg {
            @extend %reset-padding-margin;
            height: 1.5rem;
          }
        }
      }
    }

    img {
      filter: hue-rotate(188deg) saturate(0.4);
      transition: all 0.3s ease;
      position: absolute;
      bottom: 0;
      left: 10%;
      // height: calc(1vw * 2vw);
      width: 80%;
      max-width: 329px;
      max-height: 355px;
      border-radius: 0.5rem;
      // opacity: 0;
    }
    &:hover {
      height: 72vh;
      max-height: 40rem;
      .project_content {
        // visibility: visible;
        transform: scale(1);
        height: 40vh;
      }
      img {
        height: 60vw;
        width: 80%;
        left: 10%;
        filter: none;
      }
    }
  }
}
