@import '_variables.scss';

.qoute_container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 2rem;
  right: 0;

  // border: 1px solid red;
  @extend %reset-padding-margin;

  height: 80vh;
  p {
    color: #f8dbbe8e;
    writing-mode: vertical-rl;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .qoute_horizontal_line {
    border-left: 1px solid #f8dbbe8e;
    height: 6rem;
  }

  @media (min-width: 48rem) {
    right: 2rem;
    p {
      font-size: 0.9rem;
    }
  }
}
