@import '_variables.scss';

.qoute_container {
  visibility: hidden;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 3rem;
  // border: 1px solid red;
  @extend %reset-padding-margin;

  p {
    color: $color-white;
    writing-mode: vertical-rl;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }

  .qoute_horizontal_line {
    border-left: 1px solid #fcd9b7c2;
    height: 6rem;
  }

  @media (min-width: 70rem) {
    & {
      right: 2rem;
    }
  }
}
